task-7-5/flows.json
[
    {
        "id": "1be222b7.80f39d",
        "type": "tab",
        "label": "Task 5",
        "disabled": false,
        "info": ""
    },
    {
        "id": "bba06c8b.33746",
        "type": "mqtt in",
        "z": "1be222b7.80f39d",
        "name": "Living Room Motion",
        "topic": "SIT314/217288933/sensors/motion/+/living",
        "qos": "2",
        "datatype": "auto",
        "broker": "f3c63a38.a1e7d8",
        "x": 270,
        "y": 280,
        "wires": [
            [
                "c0af0ce7.df76f",
                "6a3d05b8.130f6c"
            ]
        ]
    },
    {
        "id": "747da232.b6f0dc",
        "type": "ui_toast",
        "z": "1be222b7.80f39d",
        "name": "",
        "x": 1050,
        "y": 280,
        "wires": []
    },
    {
        "id": "6583daed.79f204",
        "type": "template",
        "z": "1be222b7.80f39d",
        "name": "Message",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "Someone is in the living room!",
        "output": "str",
        "x": 720,
        "y": 280,
        "wires": [
            [
                "31295b96.fd7b34"
            ]
        ]
    },
    {
        "id": "31295b96.fd7b34",
        "type": "template",
        "z": "1be222b7.80f39d",
        "name": "Title",
        "field": "topic",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "Motion Notification",
        "output": "str",
        "x": 870,
        "y": 280,
        "wires": [
            [
                "747da232.b6f0dc"
            ]
        ]
    },
    {
        "id": "c0af0ce7.df76f",
        "type": "function",
        "z": "1be222b7.80f39d",
        "name": "Check if Midnight",
        "func": "var time = new Date();\n\n// Adding timezone\ntime.setTime(time.getTime() + (10 * 60 * 60 * 1000));\n\nif (time.getHours() < 6) {\n    return msg;\n}\n\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "x": 510,
        "y": 280,
        "wires": [
            [
                "6583daed.79f204",
                "ed0cc87a.9af428"
            ]
        ]
    },
    {
        "id": "ed0cc87a.9af428",
        "type": "debug",
        "z": "1be222b7.80f39d",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 730,
        "y": 400,
        "wires": []
    },
    {
        "id": "ec0b085.9fadcf8",
        "type": "mqtt in",
        "z": "1be222b7.80f39d",
        "name": "Save Sensor Data",
        "topic": "SIT314/217288933/sensors/+/+/+",
        "qos": "2",
        "datatype": "auto",
        "broker": "f3c63a38.a1e7d8",
        "x": 270,
        "y": 200,
        "wires": [
            [
                "8cb1812e.6febe"
            ]
        ]
    },
    {
        "id": "8cb1812e.6febe",
        "type": "function",
        "z": "1be222b7.80f39d",
        "name": "Save Sensor Data",
        "func": "if (!global.sensors) {\n    global.sensors = {};\n}\n\nconst [base, studentId, sensors, type, sensorId, room] = msg.topic.split('/');\n\nif (!global.sensors[room]) {\n    global.sensors[room] = {};\n}\nif (!global.sensors[room][type]) {\n    global.sensors[room][type] = {};\n}\n\nglobal.sensors[room][type][sensorId] = parseFloat(msg.payload);\n\nglobal.set('sensors', global.sensors);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 510,
        "y": 200,
        "wires": [
            [
                "d903aa22.1abf58"
            ]
        ]
    },
    {
        "id": "6a3d05b8.130f6c",
        "type": "function",
        "z": "1be222b7.80f39d",
        "name": "Check if dark",
        "func": "var lightAggregate = 0;\nfor (var sensorId in global.sensors.living.light) {\n    lightAggregate += global.sensors.living.light[sensorId];\n}\nlightAggregate /= global.sensors.living.light.length;\n\nif (lightAggregate == 0) {\n    // Room is dark\n    return msg;\n}\n\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "x": 490,
        "y": 480,
        "wires": [
            [
                "526452f9.aff98c"
            ]
        ]
    },
    {
        "id": "3b04b0c7.ed602",
        "type": "mqtt out",
        "z": "1be222b7.80f39d",
        "name": "Turn Light On",
        "topic": "SIT314/217288933/light/living",
        "qos": "",
        "retain": "",
        "broker": "f3c63a38.a1e7d8",
        "x": 940,
        "y": 480,
        "wires": []
    },
    {
        "id": "526452f9.aff98c",
        "type": "change",
        "z": "1be222b7.80f39d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "1",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 720,
        "y": 480,
        "wires": [
            [
                "3b04b0c7.ed602"
            ]
        ]
    },
    {
        "id": "fce1b34f.a4b43",
        "type": "mqtt in",
        "z": "1be222b7.80f39d",
        "name": "Hall 1 Light Level",
        "topic": "SIT314/217288933/sensors/light/+/hall_1",
        "qos": "2",
        "datatype": "auto",
        "broker": "f3c63a38.a1e7d8",
        "x": 260,
        "y": 600,
        "wires": [
            [
                "206b675d.39ce08"
            ]
        ]
    },
    {
        "id": "206b675d.39ce08",
        "type": "function",
        "z": "1be222b7.80f39d",
        "name": "Check if dark",
        "func": "var lightAggregate = 0;\nfor (var sensorId in global.sensors.hall_1.light) {\n    lightAggregate += global.sensors.hall_1.light[sensorId];\n}\nlightAggregate /= global.sensors.hall_1.light.length;\n\nif (lightAggregate == 0) {\n    // Room is dark\n    return msg;\n}\n\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "x": 490,
        "y": 600,
        "wires": [
            [
                "b49b2965.19f848"
            ]
        ]
    },
    {
        "id": "a94d61cf.95266",
        "type": "mqtt out",
        "z": "1be222b7.80f39d",
        "name": "Turn Light On",
        "topic": "SIT314/217288933/light/hall_1",
        "qos": "",
        "retain": "",
        "broker": "f3c63a38.a1e7d8",
        "x": 940,
        "y": 600,
        "wires": []
    },
    {
        "id": "b49b2965.19f848",
        "type": "change",
        "z": "1be222b7.80f39d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "1",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 720,
        "y": 600,
        "wires": [
            [
                "a94d61cf.95266"
            ]
        ]
    },
    {
        "id": "e940c7bc.733508",
        "type": "mqtt in",
        "z": "1be222b7.80f39d",
        "name": "Check Humidity Laundry",
        "topic": "SIT314/217288933/sensors/humidity/+/laundry",
        "qos": "2",
        "datatype": "auto",
        "broker": "f3c63a38.a1e7d8",
        "x": 290,
        "y": 760,
        "wires": [
            [
                "90d15c79.08ef",
                "faa86606.fe2418"
            ]
        ]
    },
    {
        "id": "90d15c79.08ef",
        "type": "function",
        "z": "1be222b7.80f39d",
        "name": "Check humidity",
        "func": "const [base, studentId, sensors, type, sensorId, room] = msg.topic.split('/');\n\n// More than 50% humidity\nif (msg.payload > 50) {\n    msg.room = room;\n    return msg;\n}\n\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "x": 940,
        "y": 840,
        "wires": [
            [
                "d294e7d7.c93598"
            ]
        ]
    },
    {
        "id": "3461404d.5cca2",
        "type": "ui_toast",
        "z": "1be222b7.80f39d",
        "name": "",
        "x": 1510,
        "y": 840,
        "wires": []
    },
    {
        "id": "d294e7d7.c93598",
        "type": "template",
        "z": "1be222b7.80f39d",
        "name": "Message",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "Humidity is too high in {{room}}",
        "output": "str",
        "x": 1180,
        "y": 840,
        "wires": [
            [
                "7fc52141.5428e"
            ]
        ]
    },
    {
        "id": "7fc52141.5428e",
        "type": "template",
        "z": "1be222b7.80f39d",
        "name": "Title",
        "field": "topic",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "Humidity Notification",
        "output": "str",
        "x": 1330,
        "y": 840,
        "wires": [
            [
                "3461404d.5cca2"
            ]
        ]
    },
    {
        "id": "961eb212.64217",
        "type": "mqtt in",
        "z": "1be222b7.80f39d",
        "name": "Check Humidity Bathroom",
        "topic": "SIT314/217288933/sensors/humidity/+/bathroom",
        "qos": "2",
        "datatype": "auto",
        "broker": "f3c63a38.a1e7d8",
        "x": 290,
        "y": 840,
        "wires": [
            [
                "90d15c79.08ef",
                "6a39dab8.431534"
            ]
        ]
    },
    {
        "id": "63750277.b4109c",
        "type": "mqtt in",
        "z": "1be222b7.80f39d",
        "name": "Check Humidity Ensuite",
        "topic": "SIT314/217288933/sensors/humidity/+/ensuite",
        "qos": "2",
        "datatype": "auto",
        "broker": "f3c63a38.a1e7d8",
        "x": 280,
        "y": 900,
        "wires": [
            [
                "90d15c79.08ef",
                "6ee289df.00e858"
            ]
        ]
    },
    {
        "id": "628c73d1.eea5cc",
        "type": "mqtt in",
        "z": "1be222b7.80f39d",
        "name": "Check Humidity Bedrooms",
        "topic": "SIT314/217288933/sensors/humidity/+/bedroom_1",
        "qos": "2",
        "datatype": "auto",
        "broker": "f3c63a38.a1e7d8",
        "x": 290,
        "y": 1040,
        "wires": [
            [
                "62203eca.c0078",
                "1f75b1fa.efe1fe"
            ]
        ]
    },
    {
        "id": "a55065b4.567f48",
        "type": "mqtt in",
        "z": "1be222b7.80f39d",
        "name": "Check Temp Bedrooms",
        "topic": "SIT314/217288933/sensors/temp/+/bedroom_1",
        "qos": "2",
        "datatype": "auto",
        "broker": "f3c63a38.a1e7d8",
        "x": 280,
        "y": 1240,
        "wires": [
            [
                "efcbdcb7.807b9",
                "750c9b2d.c465b4"
            ]
        ]
    },
    {
        "id": "6a39dab8.431534",
        "type": "ui_gauge",
        "z": "1be222b7.80f39d",
        "tab": "48b3b014.4b072",
        "name": "Bathroom Humidity",
        "group": "Wet Areas",
        "order": 1,
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "x": 530,
        "y": 840,
        "wires": []
    },
    {
        "id": "faa86606.fe2418",
        "type": "ui_gauge",
        "z": "1be222b7.80f39d",
        "tab": "48b3b014.4b072",
        "name": "Laundry Humidity",
        "group": "Wet Areas",
        "order": 1,
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "x": 550,
        "y": 760,
        "wires": []
    },
    {
        "id": "6ee289df.00e858",
        "type": "ui_gauge",
        "z": "1be222b7.80f39d",
        "tab": "48b3b014.4b072",
        "name": "Ensuite Humidity",
        "group": "Wet Areas",
        "order": 1,
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "x": 530,
        "y": 900,
        "wires": []
    },
    {
        "id": "62203eca.c0078",
        "type": "ui_gauge",
        "z": "1be222b7.80f39d",
        "tab": "48b3b014.4b072",
        "name": "Bedroom Humidity",
        "group": "Bedroom 1",
        "order": 1,
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "x": 550,
        "y": 1040,
        "wires": []
    },
    {
        "id": "efcbdcb7.807b9",
        "type": "ui_gauge",
        "z": "1be222b7.80f39d",
        "tab": "48b3b014.4b072",
        "name": "Bedroom Temperature",
        "group": "Bedroom 1",
        "order": 1,
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "x": 560,
        "y": 1240,
        "wires": []
    },
    {
        "id": "743697d9.7e4068",
        "type": "mqtt in",
        "z": "1be222b7.80f39d",
        "name": "Check Humidity Bedrooms",
        "topic": "SIT314/217288933/sensors/humidity/+/bedroom_2",
        "qos": "2",
        "datatype": "auto",
        "broker": "f3c63a38.a1e7d8",
        "x": 290,
        "y": 1100,
        "wires": [
            [
                "4c5956d9.417ab8",
                "1f75b1fa.efe1fe"
            ]
        ]
    },
    {
        "id": "54293b15.98dd74",
        "type": "mqtt in",
        "z": "1be222b7.80f39d",
        "name": "Check Temp Bedrooms",
        "topic": "SIT314/217288933/sensors/temp/+/bedroom_2",
        "qos": "2",
        "datatype": "auto",
        "broker": "f3c63a38.a1e7d8",
        "x": 280,
        "y": 1300,
        "wires": [
            [
                "c5245bba.e35058",
                "750c9b2d.c465b4"
            ]
        ]
    },
    {
        "id": "4c5956d9.417ab8",
        "type": "ui_gauge",
        "z": "1be222b7.80f39d",
        "tab": "48b3b014.4b072",
        "name": "Bedroom Humidity",
        "group": "Bedroom 2",
        "order": 1,
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "x": 550,
        "y": 1100,
        "wires": []
    },
    {
        "id": "c5245bba.e35058",
        "type": "ui_gauge",
        "z": "1be222b7.80f39d",
        "tab": "48b3b014.4b072",
        "name": "Bedroom Temperature",
        "group": "Bedroom 2",
        "order": 1,
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "x": 560,
        "y": 1300,
        "wires": []
    },
    {
        "id": "750c9b2d.c465b4",
        "type": "function",
        "z": "1be222b7.80f39d",
        "name": "Check Bedroom Temp",
        "func": "if (msg.payload < 10 || msg.payload > 28) {\n    return msg;\n}\n\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "x": 840,
        "y": 1280,
        "wires": [
            [
                "a21e4689.6e9078"
            ]
        ]
    },
    {
        "id": "1f75b1fa.efe1fe",
        "type": "function",
        "z": "1be222b7.80f39d",
        "name": "Check Bedroom Humidity",
        "func": "if (msg.payload < 5 || msg.payload > 20) {\n    return msg;\n}\n\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "x": 850,
        "y": 1060,
        "wires": [
            [
                "4a31b693.bffa38"
            ]
        ]
    },
    {
        "id": "9a46f3c.b42b91",
        "type": "ui_toast",
        "z": "1be222b7.80f39d",
        "name": "",
        "x": 1450,
        "y": 1060,
        "wires": []
    },
    {
        "id": "4a31b693.bffa38",
        "type": "template",
        "z": "1be222b7.80f39d",
        "name": "Message",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "Humidity is not ideal in the bedrooms",
        "output": "str",
        "x": 1120,
        "y": 1060,
        "wires": [
            [
                "f4ea2f6f.0ac4"
            ]
        ]
    },
    {
        "id": "f4ea2f6f.0ac4",
        "type": "template",
        "z": "1be222b7.80f39d",
        "name": "Title",
        "field": "topic",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "Humidity Notification",
        "output": "str",
        "x": 1270,
        "y": 1060,
        "wires": [
            [
                "9a46f3c.b42b91"
            ]
        ]
    },
    {
        "id": "afaa990f.be6e68",
        "type": "ui_toast",
        "z": "1be222b7.80f39d",
        "name": "",
        "x": 1430,
        "y": 1280,
        "wires": []
    },
    {
        "id": "a21e4689.6e9078",
        "type": "template",
        "z": "1be222b7.80f39d",
        "name": "Message",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "Temperature is not ideal in the bedrooms",
        "output": "str",
        "x": 1100,
        "y": 1280,
        "wires": [
            [
                "8fa178c3.6e9558"
            ]
        ]
    },
    {
        "id": "8fa178c3.6e9558",
        "type": "template",
        "z": "1be222b7.80f39d",
        "name": "Title",
        "field": "topic",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "Temperature Notification",
        "output": "str",
        "x": 1250,
        "y": 1280,
        "wires": [
            [
                "afaa990f.be6e68"
            ]
        ]
    },
    {
        "id": "d903aa22.1abf58",
        "type": "function",
        "z": "1be222b7.80f39d",
        "name": "Calculate Aggregates",
        "func": "var aggregates = {};\nvar count = {};\n\nglobal.sensors = global.get('sensors');\n\nfor (var room in global.sensors) {\n    for (var type in global.sensors[room]) {\n        if (!aggregates[type]) aggregates[type] = 0;\n        if (!count[type]) count[type] = 0;\n        \n        for (var sensorId in global.sensors[room][type]) {\n            aggregates[type] += global.sensors[room][type][sensorId];\n            count[type] += 1;\n        }\n    }\n}\n\nfor (var type in aggregates) {\n    aggregates[type] /= count[type];\n}\n\nglobal.set('aggregates', aggregates);\n\nmsg.payload = global.sensors;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 770,
        "y": 200,
        "wires": [
            [
                "ef27f8f5.db9038",
                "c17c4e4c.ce7da",
                "367cde10.488942"
            ]
        ]
    },
    {
        "id": "2c4a4ac.bb3d2b6",
        "type": "ui_chart",
        "z": "1be222b7.80f39d",
        "tab": "ee486dbf.5af24",
        "name": "Average Temperature",
        "group": "Plots",
        "order": 1,
        "interpolate": "linear",
        "nodata": "No Data",
        "removeOlder": 1,
        "removeOlderUnit": "86400",
        "x": 1300,
        "y": 60,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "ef27f8f5.db9038",
        "type": "change",
        "z": "1be222b7.80f39d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "aggregates.temp",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1060,
        "y": 60,
        "wires": [
            [
                "2c4a4ac.bb3d2b6"
            ]
        ]
    },
    {
        "id": "c17c4e4c.ce7da",
        "type": "debug",
        "z": "1be222b7.80f39d",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 1080,
        "y": 200,
        "wires": []
    },
    {
        "id": "55bd6c47.9df154",
        "type": "ui_chart",
        "z": "1be222b7.80f39d",
        "tab": "ee486dbf.5af24",
        "name": "Average Humidity",
        "group": "Plots",
        "order": 1,
        "interpolate": "linear",
        "nodata": "No Data",
        "removeOlder": 1,
        "removeOlderUnit": "86400",
        "x": 1290,
        "y": 140,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "367cde10.488942",
        "type": "change",
        "z": "1be222b7.80f39d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "aggregates.humidity",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1060,
        "y": 140,
        "wires": [
            [
                "55bd6c47.9df154"
            ]
        ]
    },
    {
        "id": "f3c63a38.a1e7d8",
        "type": "mqtt-broker",
        "z": "",
        "name": "HiveMQ",
        "broker": "broker.hivemq.com",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "48b3b014.4b072",
        "type": "ui_tab",
        "z": "",
        "name": "Home",
        "icon": "dashboard",
        "order": "1"
    },
    {
        "id": "ee486dbf.5af24",
        "type": "ui_tab",
        "z": "",
        "name": "Data Analysis",
        "icon": "dashboard",
        "order": "1"
    }
]